*{
    font-family: 'Signika', sans-serif;
}
body {
    background-color: #232323;
    font-family: 'Signika', sans-serif;
 }
 .about-us{
    color: white;
    font-size: 10vh;
 }
 .history{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.5vh;
 }
 .background-image{
    background-size: cover;
    opacity: 75%;
 }
 .container-about{
    margin-top: 20%;
    position: absolute;
    height: 100%;
    width: 100%;
    text-shadow: 2px 2px 50px #292929;
    align-items: center;
    text-align: center;
 }
 .container2{
    align-items: center;
    text-align: center;
    color: white;
    background-color: #292929;
    
 }
 .services{
    font: 5vh 'Roboto',sans-serif;
    background-color: #292929;
 }
 .list-services{
    font: 1.3vh 'Signika', sans-serif;
    padding: 3.5vh;
    list-style-type: none;
 }
 .container-contact{
    color: white;
    font-size: 5vh 'Roboto',sans-serif;
    align-items: center;
    text-align: center;
    background-color: #292929;
 }
 .bg-grey {
    background: #292929;
 }
 .phonenumber{
    
    font-size: 1.6vh;
    color: white;
    opacity: 70%;
    text-decoration: underline;
    text-anchor: start;
 }
 .container-about{
    text-align: center;

 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}
